@import "palette";

.edit-page-tooltip-container {
  background: $black;
  width: 260px;
  padding: 17px 0;
  border-radius: 8px;
  box-shadow: 0 4px 20px #00000026;

  .separator {
    height: 1px;
    margin: 15px 16px;
    background: rgba(234, 234, 234, 0.2);
  }
}
